.custom-loading {
    --background: rgba(255, 255, 255, 0.9); /* Light gray background color */
    --spinner-color: #00ff00; /* Green spinner color */
    --spinner-stroke-width: 10px; /* Adjust the spinner stroke width */
  }
  
  ion-loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  