.container{
  display: flex;
  height: 100vh;
}
.container .sidebar {
  width: 300px;
  background-color: #102921;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.container .sidebar .user-info {
  display: flex;
  align-items: center;
}

.container .sidebar .user-image{
  width: 70px;
  height: 60px;
  border-radius: 50%;
  background-color: #3498db;
  margin-right: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 14px 4px rgba(253, 251, 251, 0.164);
}

.container .sidebar .logoutButton {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: red;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.container .sidebar .user-details {
  color: #ffffff;
}

.chat {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  width: calc(100% - 300px); /* Adjusted width to account for the left margin */
  background-color: #358b70;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.bottom-input {
  position: flex-end;
}

.messages {
  height: 80%;
  width: 100%;
  margin-bottom: 20px;
  overflow-y: auto;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #11020242; /* Light gray background color */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid #3498db;
  border-top: 8px solid transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 767px) {  
  .container {
    display: grid;
  }
  .container .sidebar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    overflow-y: none;
  }
  
  .container .sidebar .user-image{
    width: 30px;
    height: 30px;

  }

  .container .sidebar .user-details h2{
    font-size: 16px;
    color: #ffffff;
  }

  .container .sidebar .logoutButton {
    width: 50px;
    height: 30px;
    border-radius: 2px;
    position: fixed;
    right:0;
    top:0;
    margin-top: 17.5px;
    margin-right: 2.5%;
  }
  .chat {
    margin-top: 70px;
    margin-bottom: 100px;
    height: 450px;
    display: flex;
    margin-left: 0px;
    width: 100%; 
    background-color: #358b70;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .bottom-input {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  
}
